@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./handwriting/handwriting.css");
@import url("./hover-animation/hover-animatin.css");

:root {
  --light: #EBF5E8;
  --light-2: #84A37D;
  --dark: #435C48;
  --dark-2: #364E3B;
  --special: #84A37D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark);
    --foreground: var(--light);
    --highlight: var(--light-2);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--light-2);
    --foreground: var(--dark-2);
    --highlight: var(--light-2);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
